
@{
    ViewBag.Title = "_IconSelection";
}

<div id="imageContent" style="display:none;">
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/1.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/2.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/3.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/4.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/5.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/6.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/7.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/8.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/9.png" />
    <img class="imageUserIconPreview" src="/Content/Images/UserIcons/10.png" />
</div>

